@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
}

a {
  text-decoration: none;
  display: flex;
}

img {
  width: 80px;
}

.types {
  display: inline-flex;
}

.select__gen {
  margin: 8px;
  width: max-content;
  height: 18px;
  padding: 10px;
  cursor: pointer;
  font-size: 100% !important;
  background: #e2e2e2;
  color: #000000;
  border-radius: 6px;
}

.gen__list {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
  flex-direction: row;
}

.select {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content !important;
  place-content: center;
}

input {
  display: none;
}
:hover + label {
  border: 5px solid #3a9ec6;
  padding: 5px;
}

:checked + label {
  border: 5px solid #f04040;
  padding: 5px;
}

.select__item {
  margin: 5px 30px !important;
  padding: 10px;
  width: 100px !important;
  cursor: pointer;
  font-size: 100% !important;
  border-radius: 6px !important;
}

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.title {
  font-size: 200%;
}

.beginning_button {
  align-self: center;
  color: #000000;
  background-color: #e2e2e2;
  font-size: 70%;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  place-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.pokemon-card {
  align-items: center;
  display: inline-flex;
  flex-direction: column !important;
  border: 5px solid #3a9ec6;
  border-radius: 5px;
  background-color: #e2e2e2;
  margin: 10px 5px;
  padding: 7px;
  width: 150px;
  height: 200px;
}

.pokemon-card:hover {
  border: #f04040 solid 6px;
  border-radius: 6px;
  padding: 5.67px;
}

.__image,
.__type,
.__name,
.__number {
  margin-bottom: 7px;
}

.__image {
  max-width: 80px;
  max-height: 80px;
  padding: 15px;
  border-radius: 50%;
  background: #eeeeee;
  align-self: center !important;
  display: inline-flex;
  flex-wrap: wrap;
  place-content: space-evenly;
}

.__number {
  align-self: self-start;
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
}
.__name {
  color: #313131;
  font-size: 100%;
  text-transform: capitalize;
}
.__types {
  display: inline-flex;
  flex-direction: row;
}
.__type {
  border-radius: 3px;
  font-size: 11px;
  line-height: 18px;
  margin: 0 5px;
  max-width: 110px;
  text-align: center;
  text-transform: capitalize;
  width: 3rem;
}
.--bug {
  background-color: #a6b91a;
  color: #fff;
}
.--dark {
  background-color: #705746;
  color: #fff;
}
.--dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: #fff;
}
.--electric {
  background-color: #f7d02c;
  color: #212121;
}
.--fairy {
  background-color: #d685ad;
  color: #212121;
}
.--fighting {
  background-color: #c22e28;
  color: #fff;
}
.--fire {
  background-color: #ee8130;
  color: #fff;
}
.--flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}
.--ghost {
  background-color: #735797;
  color: #fff;
}
.--grass {
  background-color: #7ac74c;
  color: #212121;
}
.--ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}
.--ice {
  background-color: #96d9d6;
  color: #212121;
}
.--normal {
  background-color: #a8a77a;
  color: #212121;
}
.--poison {
  background-color: #a33ea1;
  color: #fff;
}
.--psychic {
  background-color: #f95587;
  color: #fff;
}
.--rock {
  background-color: #b6a136;
  color: #fff;
}
.--steel {
  background-color: #b7b7ce;
  color: #212121;
}
.--water {
  background-color: #6390f0;
  color: #fff;
}
