<h2 id="beginning" class="title">Select a generation:</h2>
<div class="gen__list">
  <a
    *ngFor="let generation of pokemons"
    href="/pokedex#generation_{{ generation.gen }}"
    class="select__gen"
    >Generation {{ generation.gen }}</a
  >
</div>
<h2 class="title">Select type(s):</h2>
<form action="">
  <div class="select">
    <div *ngFor="let type of types">
      <input
        name="type"
        type="checkbox"
        class="checkbox_type"
        id="{{ type }}"
        value="{{ type }}"
      />
      <label
        for="{{ type }}"
        class="double-checkbox select__item __type --{{ type }}"
        >{{ type }}</label
      >
    </div>
    <div></div>
  </div>
  <input type="submit" name="submit" value="Filter" />
</form>
<div class="pokemon-list">
  <div *ngFor="let generation of pokemons">
    <h2 id="generation_{{ generation.gen }}" class="title">
      Generation {{ generation.gen }}
      <a href="/pokedex#beginning" class="beginning_button">Beginning</a>
    </h2>
    <a
      routerLink="/pokemon-detail/{{ pokemon.name }}"
      class="pokemon-card"
      target="”_blank”"
      *ngFor="let pokemon of generation.pokemons"
    >
      <div class="__number">N°{{ pokemon.id }}</div>
      <img
        class="__image"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
          pokemon.id
        }}.png"
        alt=""
      />
      <div class="__name">{{ pokemon.name }}</div>
      <div class="__types">
        <span
          class="__type --{{ type.type.name }}"
          *ngFor="let type of pokemon.types"
          >{{ type.type.name }}</span
        >
      </div>
    </a>
  </div>
</div>
