<div id="beginning" class="filters">
  <label class="search-box-label" for="search-box">Search pokemon:</label>
  <input type="search" id="search-box" [(ngModel)]="pokemonSearch" />
  <div class="search-result">
    <ng-container *ngFor="let pokemon of pokemonNameList">
      <a
        class="pokemon-result"
        *ngIf="pokemon.includes(pokemonSearch.toLowerCase()) && pokemonSearch"
        href="/pokemon-detail/{{ pokemon }}"
        target="_blank"
        >{{ pokemon }}
      </a>
    </ng-container>
  </div>
  <h2 class="title">Select a generation:</h2>
  <div class="gen__list">
    <a
      *ngFor="let generation of pokemons"
      href="/pokedex#generation_{{ generation.gen }}"
      class="select__gen"
      >Generation {{ generation.gen }}</a
    >
  </div>
  <h2 class="title">Select type(s):</h2>
  <div class="select">
    <div class="types" *ngFor="let types of filter_types">
      <input
        (change)="checkElements()"
        [(ngModel)]="types.checked"
        name="type"
        type="checkbox"
        class="checkbox_type"
        id="{{ types.type }}"
        value="{{ types.type }}"
      />
      <label
        for="{{ types.type }}"
        class="double-checkbox select__item  --{{ types.type }}"
        >{{ types.type }}</label
      >
    </div>
  </div>
</div>
<div>
  <div *ngFor="let generation of pokemons">
    <h2 class="header">
      <span id="generation_{{ generation.gen }}" class="title">
        Generation {{ generation.gen }}
      </span>
      <a href="/pokedex#beginning" class="beginning_button">Beginning</a>
    </h2>
    <div class="pokemon-list">
      <ng-container *ngFor="let pokemon of generation.pokemons">
        <a
          routerLink="/pokemon-detail/{{ pokemon.name }}"
          class="pokemon-card"
          target="”_blank”"
          *ngIf="pokemon.show == true"
        >
          <div class="__number">N°{{ pokemon.id }}</div>
          <div class="__image">
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
                pokemon.id
              }}.png"
              alt=""
            />
          </div>
          <div class="__name">{{ pokemon.name }}</div>
          <div class="__types">
            <span
              class="__type --{{ type.type.name }}"
              *ngFor="let type of pokemon.types"
              >{{ type.type.name }}</span
            >
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>
