<div class="pokemon-page">
  <div class="previous_next" id="beginning">
    <a
      class="previous"
      *ngIf="pokemon[0].id > 1"
      href="pokemon-detail/{{ pokemon[0].id - 1 }}"
      >Previous</a
    >
    <a
      class="next"
      *ngIf="pokemon[0].id < 1010"
      href="pokemon-detail/{{ pokemon[0].id + 1 }}"
      >Next</a
    >
  </div>
  <div class="pokemon-info">
    <div class="images">
      <div class="image-display">
        <div class="__image">
          <img
            class="image"
            src="{{
              pokemon[0].sprites.other['official-artwork'].front_default
            }}"
            alt="Loading..."
          />
        </div>
        <span>Normal</span>
      </div>
      <div
        class="image-display"
        *ngIf="pokemon[0].sprites.other['official-artwork'].front_shiny"
      >
        <div>
          <div class="__image">
            <img
              class="image"
              *ngIf="pokemon[0].id < 1009"
              src="{{
                pokemon[0].sprites.other['official-artwork'].front_shiny
              }}"
              alt="Loading..."
            />
          </div>
        </div>
        <span *ngIf="pokemon[0].id < 1009">Shiny</span>
      </div>
    </div>
    <div class="__number">
      <span> N°{{ pokemon[0].id }}</span>
    </div>
    <div class="__name">
      <span>{{ pokemon[0].name }}</span>
    </div>
    <div class="__types">
      <div
        class="__type --{{ type.type.name }}"
        *ngFor="let type of pokemon[0].types"
      >
        {{ type.type.name }}
      </div>
    </div>
    <div *ngIf="pokemon[1].flavor_text_entries[1]" class="pokedex-entrie">
      <span *ngIf="0 < pokemon[0].id && pokemon[0].id < 387"
        >"{{ pokemon[1].flavor_text_entries[9].flavor_text }}"</span
      >
      <span *ngIf="386 < pokemon[0].id && pokemon[0].id < 650"
        >"{{ pokemon[1].flavor_text_entries[4].flavor_text }}"</span
      >
      <span *ngIf="649 < pokemon[0].id && pokemon[0].id < 722"
        >"{{ pokemon[1].flavor_text_entries[14].flavor_text }}"</span
      >
      <span *ngIf="721 < pokemon[0].id && pokemon[0].id < 810"
        >"{{ pokemon[1].flavor_text_entries[7].flavor_text }}"</span
      >
      <span *ngIf="809 < pokemon[0].id && pokemon[0].id"
        >"{{ pokemon[1].flavor_text_entries[17].flavor_text }}"</span
      >
    </div>
    <div class="physiognomy-detail">
      <span class="weight">{{ (pokemon[0].weight * 0.1).toFixed(2) }} kg</span>
      <span class="height"
        >{{ (pokemon[0].height * 0.1).toFixed(2) }} meters</span
      >
    </div>
    <div *ngIf="pokemon[1].gender_rate < -1" class="gender">
      <span *ngIf="gender_rate[pokemon[1].gender_rate].female" class="female"
        >&#9792; {{ gender_rate[pokemon[1].gender_rate].female }}
      </span>
      <span *ngIf="gender_rate[pokemon[1].gender_rate].male" class="male"
        >&#9794; {{ gender_rate[pokemon[1].gender_rate].male }}
      </span>
    </div>
    <div *ngIf="pokemon[1].gender_rate == -1" class="gender">
      <span>Gender: Unkown</span>
    </div>
    <div class="base-stats">
      <div *ngFor="let stats of pokemon[0].stats" class="stats-element">
        <span class="stat-title">{{ stats.stat.name.toUpperCase() }}</span>
        <progress
          class="{{ stats.stat.name }} bar"
          value="{{ stats.base_stat }}"
          max="255"
        ></progress>
        <span class="stat-value"> {{ stats.base_stat }}</span>
      </div>
    </div>
    <div class="moves">
      <span class="move_title">Level learned move list:</span>
      <ul class="move-list">
        <div class="move" *ngFor="let move of pokemon[0].moves">
          <div *ngIf="move.version_group_details[0].level_learned_at != 0">
            <li>
              <span>{{ move.move.name }} </span>
              <span
                >-Lv.{{ move.version_group_details[0].level_learned_at }}</span
              >
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
