@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
}

span {
  display: inline-flex;
  align-self: center;
  font-size: 110%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 30%;
  height: 20px;
}

.pokemon-page {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.previous_next {
  margin: 15px 0px;
}

.previous,
.next {
  padding: 7px;
  background-color: #e2e2e2;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}

.pokemon-info {
  width: 65%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 5px solid #3a9ec6;
  border-radius: 5px;
  background-color: #e2e2e2;
  padding: 7px;
}

.__image,
.__name,
.__number,
.__types,
.physiognomy-detail,
.move_title,
.pokedex-entrie {
  margin-bottom: 10px;
}

.images {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 11px;
  justify-content: space-around;
}

.image-display {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 120%;
  align-items: center;
}

.__image {
  padding: 10%;
  border-radius: 50%;
  width: 12em;
  background: #eeeeee;
}

.image {
  width: 100%;
}

.__number {
  color: #919191;
  font-size: 160%;
}

.__name {
  color: #313131;
  font-size: 200%;
  text-transform: capitalize;
}

.__types {
  display: flex;
}
.__type {
  display: flex;
  justify-content: center;
  padding: 2px 15px;
  border-radius: 3px;
  font-size: 20px;
  margin: 0 5px;
  max-width: 110px;
  text-transform: capitalize;
  width: 3rem;
}

.pokedex-entrie {
  color: #919191;
  width: 70%;
  text-align: center;
}

.physiognomy-detail {
  margin-top: 10px;
  display: flex;
  place-content: space-evenly;
  width: 70%;
  font-size: 120%;
  color: #919191;
}

.gender {
  width: 50%;
  display: flex;
  justify-content: center;
}

.female {
  color: #ff0000;
  margin: 5px 10px;
}

.male {
  color: #001aff;
  margin: 5px 10px;
}

.base-stats {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.stat-title {
  width: 35%;
}

.stats-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-value {
  display: flex;
  width: 10%;
  justify-content: flex-end;
}

.hp::-webkit-progress-bar {
  background-color: #ff7575;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hp::-webkit-progress-value {
  background-color: #ff0000;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.75) inset;
}

.attack::-webkit-progress-bar {
  background-color: #f5ac78;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.attack::-webkit-progress-value {
  background-color: #f08030;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.5) inset;
}

.defense::-webkit-progress-bar {
  background-color: #fae078;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.defense::-webkit-progress-value {
  background-color: #f8d030;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.5) inset;
}

.special-attack::-webkit-progress-bar {
  background-color: #9db7f5;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.special-attack::-webkit-progress-value {
  background-color: #6890f0;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.5) inset;
}

.special-defense::-webkit-progress-bar {
  background-color: #a7db8d;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.special-defense::-webkit-progress-value {
  background-color: #78c850;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.5) inset;
}

.speed::-webkit-progress-bar {
  background-color: #fa92b2;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.speed::-webkit-progress-value {
  background-color: #f85888;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgb(255, 255, 255, 0.5) inset;
}

.moves {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-self: center;
}

.move_title {
  font-size: 150%;
  align-self: center;
}

.move-list {
  margin: 0px;
  width: max-content;
  align-self: flex-start;
}

.move {
  align-self: flex-start;
  text-transform: capitalize;
  font-size: 120%;
}

.--normal {
  background-color: #a8a77a;
  color: #fff;
}

.--fire {
  background-color: #ee8130;
  color: #fff;
}

.--water {
  background-color: #6390f0;
  color: #fff;
}

.--grass {
  background-color: #7ac74c;
  color: #fff;
}

.--electric {
  background-color: #f7d02c;
  color: #212121;
}

.--ice {
  background-color: #96d9d6;
  color: #212121;
}

.--fighting {
  background-color: #c22e28;
  color: #fff;
}

.--poison {
  background-color: #a33ea1;
  color: #fff;
}

.--ground {
  background: #e2bf65;
  color: #fff;
}

.--flying {
  background: #a98ff3;
  color: #fff;
}

.--psychic {
  background-color: #f95587;
  color: #fff;
}

.--bug {
  background-color: #a6b91a;
  color: #fff;
}

.--rock {
  background-color: #b6a136;
  color: #fff;
}

.--ghost {
  background-color: #735797;
  color: #fff;
}

.--dragon {
  background: #6f35fc;
  color: #fff;
}

.--dark {
  background-color: #705746;
  color: #fff;
}

.--steel {
  background-color: #b7b7ce;
  color: #fff;
}

.--fairy {
  background-color: #eaa5e4;
  color: #fff;
}
